<!-- <ul>
  <li *ngFor="let country of listCountries">
    {{country.name}}-({{country.population | number}}) - <img src={{country.flag}} style="widows: 50px; height: 50px;">
  </li>
</ul> -->

<div class="card-columns">
  <div *ngFor="let release of newReleases" class="card">
    <img [src]="release.images[0].url" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{release.name}}</h5>
      <p class="card-text"><span *ngFor="let artist of release.artists " class="badge badge-pill badge-dark">{{artist.name}}</span></p>
    </div>
  </div>
</div>
